<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<div id="wrapper">
    <img id="photo" alt="user-photo" />
    <p id="name" ng-model="name">{{name}}</p>
    <img id="msg" alt="msg-photo" />
    <img id="friends" alt="friends" />
    <img id="settings" alt="settings" />
    <img id="changePassword" alt="change-password" />
    <img id="logout" alt="logout" />
    <input type="text" placeholder="Search..." id="search">

    <br/>
    <div>
        <h1 id="edit"> Change Password</h1>
    </div>
    <div id="newPassword">
        Old Password  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input type="password" ng-model="oldPassword" class="inputText"> <br />
        New Password &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="password" ng-model="password" class="inputText"> <br />
        Confirm Password <input type="password" ng-model="password" class="inputText"> <br />
        <button id="saveChanges">Save Changes</button>
    </div>

</div>
</body>
</html>