<div>
    <h1>Social Network</h1>
    <form id="login" ng-controller="AuthenticationController" ng-submit="login()" name="loginForm">
        <label for="inputUsername">Username</label>
        <input id="inputUsername" ng-model="loginData.username" type="text" required="required"><br />
        <label for="inputPassword">Password</label>
        <input id="inputPassword" type="password" ng-model="loginData.password" required="required"> </br>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <form id="register" ng-controller="AuthenticationController" ng-submit="register()" name="registerForm">
        <label for="registerUsername">Username</label>
        <input type="text" id="registerUsername" ng-model="registerData.username" required="required" class="right"> <br /> <br />
        <label for="registerPassword">Password</label>
        <input type="password" id="registerPassword" ng-model="registerData.password" required="required" class="right"> <br /><br />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" ng-model="registerData.password" required="required" class="right"> <br /><br />
        <label for="name">Name</label>
        <input type="text" id="name" ng-model="registerData.name" required="required" class="right"> <br /><br />
        <label for="email">Email</label>
        <input type="email" id="email" ng-model="registerData.email" required="required" class="right"> <br /><br />
        <label>Gender</label>
        <input type="radio" name="gender" value="male" id="male" class="biggerMargin" ng-model="registerData.gender">
        <label for="male">Male</label>
        <input type="radio" name="gender" value="female" id="female" ng-model="registerData.gender">
        <label for="female">Female</label>
        <input type="radio" name="gender" value="other" id="other" ng-model="registerData.gender">
        <label for="other">Other</label>
        <br />
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    </div>
