<div ng-controller="AuthenticationController">
    <div>
        <h1 id="edit"> Change Password</h1>
    </div>
    <div id="newPassword">
        <label for="oldPassword">Old Password</label>  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
        <input type="password" id="oldPassword" ng-model="oldPassword"  class="inputText"> <br />
        <label for="inputNewPassword">New Password</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="password" id="inputNewPassword" ng-model="password" class="inputText"> <br />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" ng-model="password" id="confirmPassword" class="inputText"> <br />
        <button id="saveChanges">Save Changes</button>
    </div>

</div>