<div ng-include="'templates/navbar.html'"></div>
<br/>
<div id="wrapper" ng-controller="AuthenticationController">
    <div>
        <h1 id="edit"> Change Password</h1>
    </div>
    <br/>
    <div id="newPassword">
        <form name="registerForm" ng-controller="AuthenticationController" ng-submit="changePassword()">
            <label for="oldPass">Old Password</label>
            <input type="password" class="right" id="oldPass" ng-model="passwordData.oldPassword"><br/><br/>
            <label for="newPass">New Password</label>
            <input type="password" class="right" id="newPass" ng-model="passwordData.newPassword"><br/><br/>
            <label for="confirmPass">Confirm Password</label>
            <input type="password" class="right" id="confirmPass" ng-model="passwordData.confirmPassword"><br/><br/>
            <button type="submit" id="saveChanges">Save Changes</button>
    </form>
    </div>

</div>