
<div ng-controller="AuthenticationController">
    <div>

        <div id="wrapper" aria-expanded="false">

            <img id="photo"  alt="user-photo" />
            <p id="name" ng-bind="name"></p>
            <img id="msg" alt="msg-photo" />
            <img id="friends" alt="friends" />
            <img id="settings" alt="settings" />
            <a href="../profile/password" ng-click="changePassword()"> <img id="changePassword" alt="change-password" /></a>
            <a href="../app/#/" ng-click="logout()"><img id="logout" alt="logout"  /></a>
            <input type="text" placeholder="Search..." id="search">
        </div>
    </div>
</div>

